<h1><%= @author.name %></h1>
<p>Email: <%= @author.email %></p>

<%= link_to "Edit", edit_author_path(@author), class: "btn btn-secondary" %> |
<%= link_to "Delete", author_path(@author), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> |
<%= link_to "Back to Authors", authors_path, class: "btn btn-primary" %>
